@model IEnumerable<LMS.MVC.DATA.EF.EmpDetail>

@{
    ViewBag.Title = "Employee Progress";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Courses Completed</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpName)
                </td>
                <td>
                    <p>@item.CourseCompletions.Count()/@ViewBag.ActiveCourses</p>
                </td>
                <td>
                    @Html.ActionLink("More Info", "EmpCourseProgress", new { id = item.EmpId })
                </td>
            </tr>
    }

</table>
