@model IEnumerable<LMS.MVC.DATA.EF.EmpDetail>

@{
    ViewBag.Title = "Employee Progress";
}
<section style="text-align:center">
<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            <p>Name</p>
        </th>
        <th>
            <p>Courses Completed</p>
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        if (item.EmpRole == "Employee")
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                <p>@item.CourseCompletions.Count()/@ViewBag.ActiveCourses</p>
            </td>
            <td>
                @Html.ActionLink("More Info", "EmpCourseProgress", new { id = item.EmpId })
            </td>
        </tr>
        }
    }

</table>
</section>
